main {
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    justify-content: center;
    margin: 2%;
  }

  .screenDisplay {
    display: flex;
    align-items: center;
    justify-content: end;

  }

  .InstagramWrittenLOGO {
    padding: 15px;
  }

  #instagramWrittenLogo {
    width: 70%;
    height: 40%;

  }

  .formInput {
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40%;
    border: 1px solid rgb(195, 195, 195);

    padding: 3%;
    height: auto;
  }

  .formInput form div input {
    padding: 10px;
    width: 80%;
    margin: 5px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 3px;
  }

  .formInput form div input ::placeholder {
    color: gray;
  }

  .btnLogin {
    color: aliceblue;
    background-color: rgb(0, 149, 246);
    padding: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 88%;
    margin-top: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
  }

  .btnLogin:hover {
    color: aliceblue;
    background-color: rgb(0, 90, 138);
    padding: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 88%;
    margin-top: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
  }

  .or {
    margin: 5px;
    padding: 10px;
    display: grid;
    color: rgb(135, 134, 134);
    grid-template-columns: 5fr 2fr 5fr;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .or hr {
    color: rgb(135, 134, 134);
  }

  .anotherLogin {
    color: rgb(66, 103, 178);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }

  .forgotPassword {
    padding-top: 15px;
    text-decoration: none;
    font-size: 12px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .signUp {

    width: 40%;
    border: 1px solid rgb(195, 195, 195);
    padding: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    height: auto;

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
  }

  .signUp a {
    font-weight: bold;
    color: rgb(0, 149, 246);
    text-decoration: none;
  }

  .getStore {
    padding: 15px;
  }

  .getStore div {
    display: flex;
    justify-content: center;
    width: 40%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .appstore {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
  }

  .storeImg {
    width: 100px;
    height: 33px;
    padding: 15px;
  }

  footer {

    justify-content: center;
    display: flex;
    margin: 0;
  }

  footer div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 30px;
  }

  footer div span {
    margin: 10px;
  }